###> symfony/framework-bundle ###
APP_ENV=
APP_SECRET=
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=
###< doctrine/doctrine-bundle ###

###> rabbit-mq ###
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_MQTT_WS_PORT=15675
RABBIT_MANAGEMENT_PORT=15672
RABBIT_STREAM_PORT=5552
RABBIT_MQTT_PORT=1883
RABBIT_USER=guest
RABBIT_PASSWORD=guest
###< rabbit-mq ###